.header{
    background-color: black;
    height: 60px;
    display: flex;
    justify-content: space-around;
}
.headerlink{
    color:white;
    padding: 20px 40px ;
    display: flex;
    text-decoration: none;
    font-size: 16px; 
    transition: ease-in-out 0.5s;
}
.headerlink:hover{
    background-color: orange;
    color: black;
}
.carousel-item {
    max-width: 100%;
    height: auto;
  }
.intro{
    display: flex;
    margin: 20px;
    height: 200px;
    justify-content: center;
}
.intro p{
    width: 670px;
    padding-left: 20px;
}
.intropic img{
    width: 200px;
}
.footer{
    height: 100px;
    background-color: gray;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.footerlink{
    padding: 3px;
    border-radius: 5px;
    margin-left: 15px;
}
.footerlink:hover{
    background-color: darkgray;
}
.footerlink img{
    height: 20px;
}
.copyright{
    color: white; 
    margin-top: 5px;
}
.project{
    display: flex;
    margin: 20px 50px;
    height: 200px;
    justify-content: center;
    align-items: center;
}
.projecttitle{
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding:20px ;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.project p{
    margin: 0px;
}
.project img{
    width: 350px;
    height: 100%;
    margin: 0px 20px 0px 20px;
    cursor: zoom-in;
}
.project a{
    text-decoration: none;
    color: white;
}
.project div{
    background-color:#f44336;
    padding: 5px;
    margin-left: 5px;
    border-radius: 10px;
}
.project div:hover{
    background-color: darkgray;
}
.project a:hover{
    color:black
}
.youtube{
    display: flex;
    justify-content: center;
    margin: 0px 20px;   
}
.youtubetitle{
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding:20px ;
}
.youtubetitle p{
    margin-top: 10px;
    
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.wrap {
    width: 960px;
    margin-top: 30px;
}

.wrap {
    display: flex;
}

.wrap .item {
    width: 300px;
    margin: 0 10px;
    text-align: center;
}

.wrap>h2 {
    text-align: center;
    width: 960px;
    font-size: 42px;
    padding: 20px 0;
    margin: auto;
}

.wrap>p {
    width: 660px;
    margin: auto;
    padding: 0px 0px 40px;
    text-align: center;
}
.info{
    text-align: left;
}
.igpic{
    display: flex;
    margin: 20px;
    justify-content: center;
}
.igpic>iframe{
    margin: 5px;
}
.phototitle{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding:20px ;
}